<div class="container">
  <h1 class="mb-3">Пользователь</h1>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Полное имя</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.fullName"
           formControlName="fullName"
           placeholder="ФИО полностью" />
  </div>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Возраст</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.age"
           formControlName="age"
           placeholder="" />
  </div>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Должность</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.position"
           formControlName="position" />
  </div>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Кабинет</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.roomNumber"
           formControlName="roomNumber" />
  </div>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Внутренний номер (4 цифры)</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.internalPhone"
           formControlName="internalPhone" />
  </div>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Адрес электронной почты</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.email"
           formControlName="email" />
  </div>
  <div class="d-flex flex-row" [formGroup]="userForm">
    <label class="col-6">Мобильный телефон (10 цифр)</label>
    <input class="col-6" type="text"
           [(ngModel)]="tmpUser.mobPhone"
           formControlName="mobPhone" />
  </div>
  <button class="btn btn-success mt-3" *ngIf="us.userFormNewUserMode" (click)="us.addUser(tmpUser)" [disabled]="userForm.invalid">Сохранить</button>
  <button class="btn btn-warning mt-3" *ngIf="us.userFormEditMode" (click)="updateUser()" [disabled]="userForm.invalid">Сохранить изменения</button>
  <a class="btn btn-dark ml-3 mt-3" [routerLink]="['/userslist']">Отмена</a>
  <!--<hr />
  <p>ФИО: {{tmpUser.fullName}}</p>
  <p>вн. телефон: {{tmpUser.internalPhone}}</p>
  <p>эл. почта: {{tmpUser.email}}</p>
  <p>моб. телефон: {{tmpUser.mobPhone}}</p>-->

</div>


