<div class="container">
  <h1>Angular directives</h1>
  <p
     [appStyle]="'red'"
     [dStyles]="{border: '1px solid #ccc', borderRadius:'5px'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis molestias, id esse facilis assumenda explicabo recusandae. Eveniet, accusantium vitae. Architecto quod sequi odit alias repellat adipisci sint ut minima soluta quia officiis dicta aliquid tenetur, beatae officia, eaque aspernatur, autem esse velit rem cupiditate qui temporibus nemo. Reiciendis, nesciunt aut?</p>
</div>
