<div class="container">
  <form class="card p-3" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="d-flex flex-column pb-2">
      <label>Email</label>
      <input class="form-control" type="text" placeholder="Email" formControlName="email">
      <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
        <small *ngIf="form.get('email').errors.required">
          Email field is enpty
        </small>

        <small *ngIf="form.get('email').errors.email">
          Email not correct
        </small>

        <small *ngIf="form.get('email').errors.restrictedEmail">
          Email <strong>{{form.get('email').value}}</strong> in black list
        </small>

        <small *ngIf="form.get('email').errors.uniqEmail">
          Email <strong>{{form.get('email').value}}</strong> is busy
        </small>
      </div>
    </div>

    <div class="d-flex flex-column">
      <label>Пароль</label>
      <input class="form-control" type="password" placeholder="Пароль" formControlName="password">


      <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">

        <pre>{{form.get('password').errors | json}}</pre>

        <small *ngIf="form.get('password').errors.required">
          password is empty
        </small>
        <small *ngIf="form.get('password').errors.minlength">
          Password min length: {{form.get('password').errors.minlength.requiredLength}}.
          Actual length: {{form.get('password').errors.minlength.actualLength}}.
        </small>
      </div>
    </div>

    <div class="card mt-3 mb-3 p-3" formGroupName="address">
      <h2>Адрес</h2>

      <div>
        <label>Страна</label>
        <select class="form-control mb-3" formControlName="country" (change)="setCapital()">
          <option value="ru">Россия</option>
          <option value="by">Беларусь</option>
          <option value="us">Америка</option>
        </select>
      </div>

      <div class="mb-3">
        <label>Город</label>
        <input class="form-control" type="text" placeholder="Город" formControlName="city" [value]="capital">
      </div>

      <button class="btn btn-primary" type="button" (click)="setCapital()">Выбрать столицу</button>
    </div>

    <div class="card mt-3 mb-3 p-3" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button class="btn btn-primary mb-3" type="button" (click)="addSkill()">Добавить навык</button>
      <div *ngFor="let control of form.get('skills').controls; let idx = index">
        <label>Навык {{idx + 1}}</label>
        <div class="d-flex flex-row">
          <input class="form-control" type="text" [formControlName]="idx">
          <button class="btn btn-danger" type="button" (click)="delSkill(idx)">x</button>
        </div>
      </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="form.invalid || form.pending">Отправить</button>
  </form>
</div>