<div class="container">


  <div id="fio" class="d-flex flex-sm-row pl-0">
    <div class="col-8 col-md-10 pl-0 pr-1">
      <h2 class="h3">Фенске Сергей Владимирович</h2>
      <p>Мужчина, 42 года, родился 23 августа 1979</p>
      <p class="text-muted mb-0">Контакты</p>
      <p class="mb-0">+7 (916) 532-80-16 с 10.00 до 22.00 — предпочитаемый способ связи</p>
      <p class="mb-0">moneybro@yandex.ru</p>
      <p>Skype: moneybro</p>
      <p>Красногорск, не готов к переезду, не готов к командировкам</p>
    </div>
    <div class="col-4 col-md-2 text-left px-1">
      <img id="myPhoto" class="img-fluid" src="/pics/fsv.jpeg" alt="Фенске Сергей Владимирович c# программист/разработчик" />
    </div>
  </div>



  <hr />
  <div class="container d-flex flex-row flex-wrap pl-0 mb-4">
    <div class="col-sm-6 px-0">
      <h2 class="h3">c# программист / разработчик</h2>
    </div>
    <div class="h2 col-sm-6 px-0">
      <p class="text-sm-right">120 000 руб.</p>
    </div>
    <div class="d-flex flex-column">
      <p>В данный момент прохожу курс "Профессия C# - разработчик" в Skillbox</p>
      <p class="mb-0">Программирование, информационные технологии, интернет, телеком</p>
      <ul class="pt-0">
        <li>Программирование, разработка</li>
        <li>Инженер</li>
      </ul>
      <p>Занятость: полная занятость, стажировка, частичная занятость</p>
      <p>График работы: <b>удаленная работа</b> (предпочтительно), полный день, гибкий график</p>
    </div>
  </div>

  <p class="h3 text-muted">Опыт работы {{workExperienceYears}} лет {{monthsCountTxt}}</p>

  <div class="container d-flex flex-column pl-0 mb-4">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex col-md-2 p-0">Август 2020 — по настоящее время</div>
      <div class="d-flex flex-column col-md-10 pl-0">
        <p class="font-weight-bold">Главное производственно-коммерческое Управление по обслуживанию дипломатического корпуса при МИД России</p>
        <p>Москва, updk.ru</p>
        <p>
          Строительство, недвижимость, эксплуатация, проектирование<br />
          Управление и эксплуатация недвижимости
        </p>
        <h4 class="font-weight-bold">Web-программист</h4>
        <p>
          Разработка веб приложения для автоматизации процесса подготовки проектно-сметной документации раздела
          "Сеть телефонии и передачи данных" (СТиПД).
        </p>
        <p>Ссылка на <a href="https://github.com/moneybro/angular-aspNetCore.git" target="_blank">репозиторий</a>.</p>
        <p>Стэк технологий: angular + .net core</p>
        <p>
          Использую среду разработки MS Visual Studio 2019.
        </p>
        <p>Создание и управление БД объектов, БД ответственных лиц. Расчет количества материалов, формирования документации.</p>
      </div>
    </div>
  </div>


  <div class="container d-flex flex-column pl-0 mb-4">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex col-md-2 p-0">Август 2020 — по настоящее время</div>
      <div class="d-flex flex-column col-md-10 pl-0">
        <p class="font-weight-bold">Главное производственно-коммерческое Управление по обслуживанию дипломатического корпуса при МИД России</p>
        <p>Москва, updk.ru</p>
        <p>
          Строительство, недвижимость, эксплуатация, проектирование<br />
          Управление и эксплуатация недвижимости
        </p>
        <h4 class="font-weight-bold">Инженер</h4>
        <p>
          Принимаю участие в разработке приложения (клиента БД) на языке C# .NET Framework 4.7.
        </p>
        <p>При разработке использую навыки и технологии:</p>
        <ol class="pl-3 pl-sm-3">
          <ul class="pl-3 pl-smd-3">
            <li>Среда разработки MS Visual Studio 2010;</li>
            <li>Windows Forms;</li>
            <li>БД MS Access;</li>
            <li>SQL для взаимодействия клиента с БД;</li>
            <li>ООП;</li>
            <li>Программирование для Office (Microsoft.Office.Interop.Word и Excel);</li>
            <li>Создание шаблонов MS Word;</li>
            <li>Автоматизированное заполнение шаблонов MS Word данными;</li>
            <li>Генерация блоков кода языка Perl для взаимодействия с сетевым оборудованием Cisco;</li>
            <li>Запуск процессов Windows;</li>
            <li>Подготовка технических заданий на разработку модулей смежных программных комплексов;</li>
            <li>Подготовка конфигураций сетевого оборудования для автоматического конфигурирования;</li>
            <li>Программирование АТС Ericsson/Aastra/Mitel MX-ONE (TSW, TSE v.5, 7);</li>
            <li>Первичная настройка сетевого оборудования Cisco;</li>
            <li>Инсталляция сетевого оборудования.</li>
          </ul>
        </ol>
      </div>
    </div>
  </div>


  <div class="container d-flex flex-column pl-0 mb-4">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex col-md-2 p-0">Август 2013 — Август 2021</div>
      <div class="d-flex flex-column col-md-10 pl-0">
        <p class="font-weight-bold">ИП Фенске Светлана Сергеевна</p>
        <p>Красногорск, jewelss.ru</p>
        <p>
          Товары народного потребления (непищевые) -
          Ювелирные изделия, бижутерия (производство)
        </p>
        <h4 class="font-weight-bold">Web-программист</h4>
        <p>Full stack разработка и сопровождение сайта (интернет магазина) без CMS:</p>
        <ol class="pl-3 pl-sm-3">
            <li>Front-end разработка:</li>
            <ul class="pl-3 pl-sm-3">
              <li>HTML5;</li>
              <li>CSS3;</li>
              <li>JS, JQUERY;</li>
              <li>Адаптивный интерфейс на bootstrap;</li>
              <li>Взаимодействие с сервером через AJAX;</li>
            </ul>
            <li>Back-end разработка:</li>
            <ul class="pl-3 pl-sm-3">
              <li>PHP;</li>
              <li>Динамический фильтр на PHP;</li>
              <li>MySQL;</li>
              <li>PhpMyAdmin;</li>
            </ul>
            <li>Подключение счетчиков поисковых систем Яндекс, Google;</li>
            <li>Регистрация, продление доменного имени;</li>
            <li>Размещение на хостинге Reg.ru;</li>
            <li>Подключение сертификата безопасности Let's Encrypt.</li>
        </ol>
      </div>
    </div>
  </div>




</div>
