<h1>Форма заполнения параметров</h1>

<div class="content">
  <form action=# method="post">
    <div class="mb-2 d-flex">
      <label class="col-3"
             [ngStyle]="{color: txtColor}">Адрес {{hasSks ? "(есть скс)" : "(нет скс)"}}</label>
      <select class="col-6" name="adress" (change)="selectedBuildingChanged(adrId.value)" #adrId>
        <option *ngFor="let adr of al" [value]="adr.id">{{adr.name}}</option>
      </select>
      <div class="col=3 ml-3">
        <p *ngIf="selectedBuildingTypeLink == 'empty'">{{selectedBuildingType}}</p>
        <a href={{selectedBuildingTypeLink}} *ngIf="selectedBuildingTypeLink != 'empty'" target="_blank">{{selectedBuildingType}}</a>
        <div>
          <a *ngFor="let t of taprs" href={{t.link}} target="_blank">{{t.name}} </a>
        </div>
        
      </div>
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Квартира номер:</label>
      <input class="col-6" type="text" placeholder="0" (input)="placementValueChanged($event)"/>
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Шкаф</label>
      <select class="col-6" name="boxType" (change)="selectedBoxChanged(bId.value)" #bId>
        <option *ngFor="let b of boxes" [value]="b.id">{{b.descr}}</option>
      </select>
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Общее количество кабеля, м</label>
      <input class="col-6" type="text" name="holeCable" value="" placeholder="0" #holeCableInp
             (blur)="holeCableEntered(holeCableInp.value)" />
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Вводной кабель 2шт, м</label>
      <input class="col-6" type="text" name="inputCable" value="" placeholder="0" #inputCableInp
             (blur)="inputCableEntered(inputCableInp.value)" />
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Количество розеток</label>
      <input class="col-6" type="text" name="rj45Count" value="" placeholder="0" />
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Короб 100*50, м</label>
      <input class="col-6" type="text" name="korobCount" value="" placeholder="0" />
    </div>
    <div class="mb-2 d-flex">
      <label class="col-3">Подрядчик</label>
      <select class="col-6" name="podryadchikName">
        <option></option>
        <option>ООО "ИНПРЕДСЕРВИС"</option>
        <option>ООО "Контур"</option>
        <option>ООО " Надежда Евростиль"</option>
        <option>ООО "ТАКТ"</option>
        <option>ООО "РОСТ"</option>
        <option>ООО "Технострой"</option>
        <option>ООО "СпецИнтерМонтаж"</option>
      </select>
    </div>


    <!-- <input type="submit" value="расчитать" /> -->
    <!--<hr>
    <p>Количество борозд {{borozdyCount}}</p>
    <p>{{ holeCable }}</p>
    <p>{{ inputCable }}</p>-->
  </form>


</div>

<p>Помещение: {{selectedAddressName}}, {{placement}}</p>
<p>Шкаф: {{selectedBox.fullName}}</p>

