<div class="container px-3">
  <h1 class="text-center pb-3">Портал ОТ ДЭ ГлавУпДК при МИД России.</h1>
  <p>Портал предназначен для автоматизации процесса подготовки проектно-сметной документации раздела <br />"Сеть телефонии и передачи данных (<a [routerLink]="['/input-form']">СТиПД</a>)."</p>
  <p>Портал также содержит перечень актуальных типовых архитектурно-проектных решений (<a href="api/taprs" target="_blank">ТАПР</a>).</p>
  <a [routerLink]="['/input-form']">Форма расчета и формирования документации.</a>
  
  <!--<app-routing></app-routing>-->
</div>


